name: Build a container

on:
  workflow_call:
    inputs:
      tachidesk_release_type:
        required: true
        default: 'preview'
        description: 'Suwayomi Release Type'
        type: string


jobs:
  build_the_container:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          # We want a full clone of the repo so that the rev-list count below is correct
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Now we build for all the platforms we support here. NB: the amd64
      # won't be rebuilt since the local docker daemon has that still cached
      - name: Push container image to registry
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/arm/v6
          push: true
          tags: youruser/suwayomi-server:armv6
